{
  "plugins": [
    "jest"
  ],
  "extends": "airbnb",
  "parser": "babel-eslint",
  "env": {
    "jest/globals": true
  },
  "rules": {
    "no-underscore-dangle": 0,
    "import/no-extraneous-dependencies": 0,
    "react/require-extension": 0,
    "react/jsx-filename-extension": 0,
    "arrow-body-style": 0,
    "prefer-arrow-callback": 0,
    "func-names": 0,
    "react/forbid-prop-types": 0,
    "no-param-reassign": 0,
    "no-console": 0,
    "max-len": [
      2,
      {
        "code": 120
      }
    ],
    "react/no-unused-prop-types": 0,
    "react/sort-comp": 0,
    "no-bitwise": 0
  },
  "globals": {
    "document": true,
    "window": true,
    "localStorage": true,
    "sessionStorage": true,
    "FileReader": true
  }
}